<%-include("./partials/headers")-%>
<head>
	<title>Songs Results</title>
</head>
<body>
    <div class="my-6 mx-40">
        <% if ( Object.keys(result).length > 0 ) { %>
        <% for (const key in result){%>
            <div class="w-full ring-1 ring-cyan-800 rounded-lg">
                <div class="m-2 pt-3 text-xl">
                    <!--Song Title-->
                    <div class="text-3xl font-primary"><%= key %></div>
                    <!--Genres-->
                    <div class="flex flex-row">
                        <% for (const g in result[key].G_Name) { %>
                            <div class="text-base ring-1 ring-cyan-600 text-cyan-600 rounded-xl px-2 mr-2">
                                <%= result[key].G_Name[g] %>
                            </div>
                        <% } %>
                    </div>
                    <!--Artist-->
                    <div><span class="font-bold">Artist:</span> <%= result[key].A_Name %></div>
                    <!--Released year-->
                    <div><span class="font-bold">Released year:</span>  <%= result[key].Year %></div>
                    <!--Album name-->
                    <div><span class="font-bold">Album:</span> <%= result[key].album %> </div>
                </div>
                <div class="flex flex-row">
                    <form method="post" action="/update">
                        <input type="hidden" value="<%= result[key].S_ID %>" name="songID" id="songID">
                        <button class="ring-1 ring-black rounded-xl px-2 mt-2 mx-2" type="submit"> Update </button>
                    </form>
                    <form method="post" action="/delete">
                        <input type="hidden" value="<%= result[key].S_ID %>" name="songID" id="songID">
                        <button class="ring-1 ring-black rounded-xl px-2 mt-2 mx-2 bg-red-700 text-white" type="submit"> Delete </button>
                    </form>
                </div>
            </div>
        <% } %>
        <% } else { %>
            <div class="text-xl text-red-700">
                No Data
            </div>
        <% } %>
        <!-- Back Button-->
        <a href="/search"><input class="ring-1 ring-black px-2 rounded-xl mt-2" type="button" value="Back"></a>
    </div>
</body>
</html>