<%-include("./partials/headers")-%>
<head>
    <title> Update Songs</title>
</head>
<body>
    <form method="post" action="/update/formsave">
        <div class="text-black">
            <input type="hidden" value="<%= song['S_ID'] %>" name="S_ID"/>
            <div>title: <input type="text" value="<%= song['S_name'] %>" name="S_name" /></div>
            <div>genre: <input type="text" value="<%= song['G_Name'] %>" name="G_name" /></div>
            <div>artist: <input type="text" value="<%= song['A_Name'] %>" name="A_name" /> </div>
            <div>released: <input type="text" value="<%= song['Year'] %>" name="Year" /></div>
            <div>album: <input class="w-96" type="text" value="<%= song['album'] %>" name="album" /></div>
        </div>
        <button type="submit"> Confirm update </button>
    </form>
</body>