<%-include("./partials/headers")-%>
<head>
    <title>Update Song</title>
</head>
<body>
    <div class="m-6">
        <!-- Page header -->
        <div class="text-3xl font-primary mb-5">
            Let's <span class="text-cyan-800">Update</span> Song!
        </div>
        <form method="post" action="/update/formsave">
            <div class="text-black text-xl">
                <input type="hidden" value="<%= song['S_ID'] %>" name="S_ID"/>
                <div>Title: <input class="ring-1 ring-black rounded-xl w-96 m-1 px-2" type="text" value="<%= song['S_name'] %>" name="S_name" /></div>
                <div>Genre: <input class="ring-1 ring-black rounded-xl w-96 m-1 px-2" type="text" value="<%= song['G_Name'] %>" name="G_name" /></div>
                <div>Artist: <input class="ring-1 ring-black rounded-xl w-96 m-1 px-2" type="text" value="<%= song['A_Name'] %>" name="A_name" /> </div>
                <div>Released: <input class="ring-1 ring-black rounded-xl w-96 m-1 px-2" type="text" value="<%= song['Year'] %>" name="Year" /></div>
                <div>Album: <input class="ring-1 ring-black rounded-xl w-96 m-1 px-2" class="w-96" type="text" value="<%= song['album'] %>" name="album" /></div>
                <button class="ring-1 ring-black rounded-xl px-2 mt-2 bg-yellow-100" type="submit"> Confirm update </button>
                <a href="/search"><input class="ring-1 ring-black bg-cyan-800 text-white px-3 rounded-xl mt-2 mx-2" type="button" value="Back"></a>
            </div>
        </form>
    </div>
</body>